<?xml version="1.0" encoding="utf-8"?><!--
/** Copyright 2012-2014 Kevin Hausmann
 *
 * This file is part of PodCatcher Deluxe.
 *
 * PodCatcher Deluxe is free software: you can redistribute it 
 * and/or modify it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * PodCatcher Deluxe is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PodCatcher Deluxe. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".FullscreenVideoActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>

        <service
            android:name=".services.PlayEpisodeService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.podcatcher.deluxe.video.action.TOGGLE"/>
                <action android:name="com.podcatcher.deluxe.video.action.PLAY"/>
                <action android:name="com.podcatcher.deluxe.video.action.PAUSE"/>
                <action android:name="com.podcatcher.deluxe.video.action.PREVIOUS"/>
                <action android:name="com.podcatcher.deluxe.video.action.SKIP"/>
                <action android:name="com.podcatcher.deluxe.video.action.REWIND"/>
                <action android:name="com.podcatcher.deluxe.video.action.FORWARD"/>
                <action android:name="com.podcatcher.deluxe.video.action.STOP"/>
            </intent-filter>
        </service>
    </application>
</manifest>
